/* Universal style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Header Styling */
header {
    height: auto;
    width: auto;
}

/* Navbar Styling */
nav {
    height: 92px;
    width: 100%;
    max-width: 1600px;
    background-color: #fff;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img {
    height: auto;
    width: 139px;
}

nav ul {
    width: 365px;
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: medium;
}

nav button {
    height: 44px;
    width: 164px;
    color: #fff;
    font-weight: 600;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
}