/* Universal style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

/* Header Styling */
header {
    height: auto;
    width: auto;
}

/* Navbar Styling */
nav {
    height: 92px;
    width: 100%;
    max-width: 1600px;
    background-color: #fff;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img {
    height: auto;
    width: 139px;
}

nav ul {
    width: 365px;
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: medium;
}

nav button {
    height: 44px;
    width: 164px;
    color: #fff;
    font-weight: 600;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
}

/* Hero Section */
header .hero {
    background: url(assets/hero-bg.png) no-repeat center center fixed;
    background-size: cover;
    /* height: 674px; */
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .hero_container {
    width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 120px 0 150px 0;
}

.hero_container .hero_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero_content .hero_top {
    width: 235px;
    height: 35px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: #fff;
    color: #30b868;
    border-radius: 50px;
}

/* Hero top dot */
.hero_top .dot_container {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #dde6e2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot_container .dot_outer {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #7bddb1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot_outer .dot_inner {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #30b868;
}

.hero_content .hero_heading {
    width: 770px;
    font-size: 60px;
    text-align: center;
    color: #fff;
}

.hero_heading #text_green {
    color: #30b868;
}

.hero_content .hero_text {
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 24px;
}

/* Hero Buttons */
.hero_container .hero_buttons {
    display: flex;
    gap: 16px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: .3s ease;
    cursor: pointer;
}

.left_btn {
    background: #30b868;
}

.right_btn {
    background: transparent;
    border: 1px solid #fff;
}

.right_btn i {
    font-size: 20px;
}

/* Hero Buttons Hover */
.left_btn:hover {
    background: #0da04a;
    transform: scale(1.05);
}

.right_btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transform: scale(1.05);
}


/* MAIN SECTION STYLING */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

main p {
    color: #627382;
    line-height: 20px;
    text-align: center;
}

/* Notes Section Styling */
main .notes {
    padding: 0 120px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

.notes .notes_heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notes_heading h1 {
    font-size: 48px;
    font-weight: bold;
    padding-top: 60px;
}

.notes .notes_container {
    display: flex;
    gap: 24px;
}

.notes_container .notes_card {
    height: 300px;
    width: 322px;
    padding: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 10px 30px 0 #1f1f1f11;
}

.notes_card h3 {
    font-size: 24px;
    font-weight: 600;
}

.notes_card .img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #f95555;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Brain Section Styling */
main .brain {
    display: flex;
    padding: 120px;
    gap: 60px;
    align-items: center;
}

.brain .left_container img {
    height: 600px;
    width: 600px;
    border: none;
    border-radius: 12px;
}

.brain .right_container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.right_container span {
    text-transform: uppercase;
    color: #30b868;
}

.right_container .right_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.right_content h1 {
    font-size: 48px;
    font-weight: bold;
}

.right_content .check_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.check_container .check_text {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Creative Section Styling */
.creative {
    padding: 120px;
    padding-top: 2px;
}

.creative .creative_content {
    width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px 80px;
    background-color: #f7f6f2;
    border-radius: 12px;
}

.creative_content .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.creative_content .top_content h1 {
    font-size: 48px;
    font-weight: bold;
    padding-top: 60px;
}


/* Footer Styling */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 120px 30px 120px;
    background-color: rgb(24, 21, 43);
}

footer .footer_content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.footer_content .footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1360px;
}

.footer_top .social_icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.social_icons h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.social_icons .icons_container {
    width: 92px;
    height: 20px;
    gap: 16px;
}

.icons_container i {
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
}

.footer_content .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 30px;
    border-top: 3px solid rgb(50, 76, 126);
    line-height: 24px;
}

